.profile img {
		width: 70px;
		height: 60px;
		border-radius: 100px;
		background-color: #6B8E23;
		float:left;
		margin-right: 5px;
		margin-top: 20px;

}
.o{
		font-size: 15px;
		float:left;
		margin-top: 30px;

	
	}